/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    opacity: 0.9;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.c-header {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;;
    top: 0;
    left: 0;
    height: 6rem;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
    padding: 0 3rem;
    width: 100%;
    h1 {
        font-weight: 700;
        font-size: 2rem;
    }
    h6 {
        font-weight: 600;
    }
}

.c-item__card {
    position: relative;
    // border-style: solid;
    border-radius: 0.8rem;
    border-color: #e5e7eb;
    border-width: 1px;
    padding: 40px;
    h4 {
        display: inline-block;
        margin-bottom: 30px;
        font-size: 1.5rem;
        opacity: 0.7;
        background-color: yellow;
    }
}

.c-item__icon {
    display: block;
    border-radius: 0.8rem;
    width: 60px;
}


.c-item__description {
    display: flex;
    box-sizing: border-box;
}

.c-item__screenshot {
    background-size: cover;
    background-position: center;
    width: 50%;
    border-radius: 0.8rem;
    min-height: 200px;
    max-height: 250px;
}

.c-item__stats {
    // background-color: rgba(259, 250, 251, 1);
    // border: 1px solid #e5e7eb;
    border-radius: 1rem;
    margin: 30px 0;
    // width: 50%;
    align-self: center;
}

.c-item__stats-list {
    li {
        display: flex;
        justify-content: space-between;;
        margin: 10px 0px;
    }
    progress {
        width: 50%;
    }
}

.c-item__stats-name {
    width: 40%;
    // text-align: right;
}

.c-item__stats-value {
    width: 10%;
    // text-align: center;
}

.c-item__meta {
    width: 100%;
    padding-right: 40px;
    h2 {
        font-size: 3.8rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    p {
        line-height: 1.4;
        opacity: 1;
        font-weight: 300;
        margin-bottom: 10px;
        padding: 1rem 0;
        font-size: 1.8rem;
        max-width: 50rem;
    }
}

.c-aside {
    background-color: #fff;
    width: 30rem;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 6rem;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto;
}

.c-aside__links {
    padding: 3rem;
    h3 {
        font-weight: 700;
        font-size: 1.5rem;
    }
}

.c-aside__link {
    margin: 2rem 0;
    a {
        color: black;
        text-decoration: none;
        font-weight: 300;
        font-size: 1.5rem;
        padding-left: 1rem;
        &:hover {
          opacity: 0.5;
        }
    }
}


.o-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.o-container__inner {
    max-width: 1100px;
    width: 100%;
    padding-left: 26rem;
    margin-top: 6rem;
}

.c-header__alert {
    margin: 0 5rem;
    display: block;
    font-size: 1.2rem;
    border: 1px solid #eaecef;
    border-radius: 30rem;
    padding: 1rem 1.5rem;
}

.u-loading {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-loading__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 5rem;
    img {
        width: 80px;
        margin: 2rem 0;
    }
    span {
        font-weight: 300;
    }
}