.c-header {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;;
  top: 0;
  left: 0;
  height: 6rem;
  background-color: white;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
  padding: 0 3rem;
  width: 100%;
  h1 {
      font-weight: 700;
      font-size: 2rem;
  }
  h6 {
      font-weight: 600;
  }
  a {
    text-decoration: none;
    color: black;
  }
}